body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: blue;
    height: 650px;
    width: 800px;
    flex-direction: column; 
    flex-wrap: wrap;   
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
  }
  
.container div {
    background-color: gray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: inherit;
    justify-content: center;
    align-items: center;
    
}